# Páginas para programar python

1. www.mybinder.org
2. www.kaggle.com
3. www.jupyter.org/try
4. `github jobish` https://mybinder.org/v2/gh/jobish03/jobish03-Visualizacion_de_datos_para_la_toma_de_decisiones/main?filepath=welcome_binder.ipynb

Los paquetes hay que incluir en el archivo `requirements.txt`

In [1]:
import pandas as pd
import numpy as np

In [2]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          mic.xlsx

In [3]:
df = pd.read_csv('datasets/antropometria-dataset.csv')
df.head()

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.0,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.5,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.0,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215

In [4]:
df.columns

Index(['folio', 'intp', 'entidad', 'desc_ent', 'sexo', 'edad', 'meses', 'peso',
       'ropa', 'talla', 'emb', 'temb', 'cintura', 'cadera', 'sistol',
       'diastol', 'hpresion', 'tbrazo', 'htension', 'PrimaryLast', 'code_upm',
       'est_dis', 'est_urb', 'est_marg', 'pondef', 'est_var'],
      dtype='object')

In [5]:
my_pivot = pd.pivot_table(df,
                          index = 'desc_ent',
                          values = 'peso',
                          columns = 'sexo',
                          aggfunc = ['mean','median'],
                         )
my_pivot

                                      mean              median
sexo                                     1          2        1        2
desc_ent
AGUASCALIENTES                   69.985381  63.254292  69.9500  63.7000
BAJA CALIFORNIA                  71.391818  65.893667  70.6500  64.2000
BAJA CALIFORNIA SUR              75.561015  68.168959  76.6500  68.5500
CAMPECHE                         68.622637  62.920493  67.3500  62.3750
CHIAPAS                          58.365222  57.096111  59.2000  56.0250
CHIHUAHUA                        68.892642  64.815295  69.3000  64.6250
COAHUILA DE ZARAGOZA             68.873094  67.467348  68.3000  67.3000
COLIMA                           70.998878  66.978393  71.7000  66.0000
DISTRITO FEDERAL                 69.460661  61.654128  69.0000  61.4500
DURANGO                          68.846451  64.400031  70.3500  62.5000
GUANAJUATO                       65.008000  63.100995  65.0625  60.3250
GUERRERO                         62.611437  58.899850  60.5000  57.2000
HIDALGO                          61.747958  58.972554  63.3000  57.9000
JALISCO                          67.076482  66.418111  65.5875  63.3500
MEXICO                           63.140314  58.887882  62.4500  56.9500
MICHOACAN DE OCAMPO              66.374612  63.784311  67.6250  63.4000
MORELOS                          65.741943  62.195391  65.2000  61.4500
NAYARIT                          68.822143  64.890564  69.0500  63.7000
NUEVO LEON                       70.168106  64.823014  69.4000  65.1000
OAXACA                           60.810332  57.450557  59.5500  56.8000
PUEBLA                           61.866875  58.820175  61.8750  59.5500
QUERETARO                        66.751233  60.860793  65.2750  59.4500
QUINTANA ROO                     65.149528  63.538000  65.9250  60.8500
SAN LUIS POTOSI                  62.614907  58.979163  62.2000  57.4500
SINALOA                          71.122911  65.565234  71.1000  64.3000
SONORA                           70.880406  67.024857  72.3000  66.6500
TABASCO                          69.255801  64.190187  69.7500  62.6000
TAMAULIPAS                       72.060601  64.866851  72.7500  63.3500
TLAXCALA                         64.784437  60.201164  64.2750  59.8750
VERACRUZ DE IGNACIO DE LA LLAVE  65.324094  60.565646  64.3000  59.4725
YUCATAN                          65.717541  60.537515  66.0000  59.5750
ZACATECAS                        66.096483  62.757788  65.3000  61.6250

In [6]:
import pandas as pd
import numpy as np

In [7]:
%ls datasets/

adult.csv                  census.csv     movies.csv
airline_data.csv           coches.csv     nhanes_2015_2016.csv
antropometria00.csv        cwurData.csv   pokemon.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          mic.xlsx

In [8]:
df = pd.read_csv('datasets/adult.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,the label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [17]:
my_pivot = pd.pivot_table(df,
                          index = ['sex','education'],
                          values = 'hours-per-week',
                          aggfunc = ['mean','median'],
                          columns = 'marital-status',
                         )
my_pivot

                            mean                                         \
marital-status          Divorced  Married-AF-spouse  Married-civ-spouse
sex     education
 Female  10th          37.059701                NaN           36.393939
         11th          37.481013                NaN           34.114286
         12th          37.235294                NaN           36.600000
         1st-4th       26.000000                NaN           26.833333
         5th-6th       38.000000                NaN           36.611111
         7th-8th       39.757576                NaN           45.000000
         9th           35.028571                NaN           39.363636
         Assoc-acdm    39.198529              21.50           36.623377
         Assoc-voc     40.098039                NaN           34.827957
         Bachelors     41.576271              40.00           37.450161
         Doctorate     49.900000                NaN           41.350000
         HS-grad       39.067236              29.25           35.628518
         Masters       42.444444                NaN           39.345133
         Preschool           NaN                NaN           40.000000
         Prof-school   42.428571                NaN           43.296296
         Some-college  39.254571              40.00           36.408669
 Male    10th          45.547170                NaN           42.215190
         11th          43.960784                NaN           41.216301
         12th          41.590909                NaN           43.645455
         1st-4th       39.600000                NaN           40.840000
         5th-6th       39.800000                NaN           40.629870
         7th-8th       41.400000                NaN           41.250000
         9th           40.000000                NaN           40.913462
         Assoc-acdm    43.805970                NaN           44.193211
         Assoc-voc     42.950617              44.00           44.186242
         Bachelors     44.788845              50.00           45.015466
         Doctorate     51.076923                NaN           47.473684
         HS-grad       42.887574              65.00           43.501623
         Masters       46.362500                NaN           45.332584
         Preschool     72.000000                NaN           41.117647
         Prof-school   47.558824                NaN           47.968831
         Some-college  44.164804              40.00           44.410822

                                                                        \
marital-status         Married-spouse-absent  Never-married  Separated
sex     education
 Female  10th                      34.571429      26.968750  38.032258
         11th                      36.428571      25.334677  36.535714
         12th                      41.250000      27.369048  39.083333
         1st-4th                   38.333333      36.416667  40.000000
         5th-6th                   35.200000      35.103448  36.818182
         7th-8th                   34.833333      36.676471  28.923077
         9th                       28.666667      32.920000  36.117647
         Assoc-acdm                38.375000      36.496894  40.687500
         Assoc-voc                 36.625000      38.646067  37.862069
         Bachelors                 39.437500      39.387802  42.239130
         Doctorate                 39.333333      53.885714  28.500000
         HS-grad                   37.285714      36.314170  36.818519
         Masters                   43.777778      41.587963  39.000000
         Preschool                       NaN      29.000000  40.000000
         Prof-school               40.000000      49.324324  40.000000
         Some-college              34.565217      31.712700  38.709924
 Male    10th                      48.250000      33.476395  44.722222
         11th                      41.333333      30.038462  41.050000
         12th                      44.000000      32.594595  40.000000
         1st-4th                   40.444444      40.592593  37.500000
         5th-6th                   35.933333      40.283333  38.428571
         7th-8th                   38.750000      38.556962  41.500000
         9th                       45.000000      36.695238  40.375000
         Assoc-acdm                31.250000      38.744318  43.214286
         Assoc-voc                 40.400000      42.902174  41.307692
         Bachelors                 43.777778      41.448164  42.760870
         Doctorate                 52.250000      41.842105  38.333333
         HS-grad                   42.241379      40.274542  40.911765
         Masters                   50.625000      43.404255  48.636364
         Preschool                 40.000000      34.833333        NaN
         Prof-school               45.000000      48.357143  44.600000
         Some-college              40.766667      36.130697  42.269663

                                                                            \
marital-status           Widowed  test_category_female  test_category_male
sex     education
 Female  10th          31.586207                   NaN                 NaN
         11th          33.342857                   NaN                 NaN
         12th          40.000000                   NaN                 NaN
         1st-4th       28.533333                   NaN                 NaN
         5th-6th       35.454545                   NaN                 NaN
         7th-8th       31.627451                   NaN                 NaN
         9th           26.235294                   NaN                 NaN
         Assoc-acdm    33.333333                   NaN                 NaN
         Assoc-voc     32.589744                   NaN                 NaN
         Bachelors     35.140625                   NaN                 NaN
         Doctorate     31.250000                   NaN                 NaN
         HS-grad       32.061047                  40.0                 NaN
         Masters       37.870968                   NaN                 NaN
         Preschool     30.000000                   NaN                 NaN
         Prof-school   25.333333                   NaN                 NaN
         Some-college  32.289474                   NaN                 NaN
 Male    10th          35.200000                   NaN                 NaN
         11th          40.000000                   NaN                 NaN
         12th          39.666667                   NaN                 NaN
         1st-4th       42.500000                   NaN                 NaN
         5th-6th       15.000000                   NaN                 NaN
         7th-8th       27.076923                   NaN                 NaN
         9th           38.666667                   NaN                 NaN
         Assoc-acdm    40.000000                   NaN                 NaN
         Assoc-voc     50.000000                   NaN                 NaN
         Bachelors     36.388889                   NaN                 NaN
         Doctorate     42.000000                   NaN                 NaN
         HS-grad       35.800000                   NaN                40.0
         Masters       33.800000                   NaN                 NaN
         Preschool     10.000000                   NaN                 NaN
         Prof-school   45.000000                   NaN                 NaN
         Some-college  35.350000                   NaN                 NaN

                         median                                         \
marital-status         Divorced  Married-AF-spouse  Married-civ-spouse
sex     education
 Female  10th              40.0                NaN                40.0
         11th              40.0                NaN                40.0
         12th              40.0                NaN                40.0
         1st-4th           28.0                NaN                30.0
         5th-6th           40.0                NaN                40.0
         7th-8th           40.0                NaN                40.0
         9th               40.0                NaN                40.0
         Assoc-acdm        40.0               21.5                40.0
         Assoc-voc         40.0                NaN                40.0
         Bachelors         40.0               40.0                40.0
         Doctorate         50.0                NaN                38.5
         HS-grad           40.0               31.5                40.0
         Masters           40.0                NaN                40.0
         Preschool          NaN                NaN                40.0
         Prof-school       40.0                NaN                40.0
         Some-college      40.0               40.0                40.0
 Male    10th              40.0                NaN                40.0
         11th              40.0                NaN                40.0
         12th              40.0                NaN                40.0
         1st-4th           40.0                NaN                40.0
         5th-6th           40.0                NaN                40.0
         7th-8th           40.0                NaN                40.0
         9th               40.0                NaN                40.0
         Assoc-acdm        40.0                NaN                40.0
         Assoc-voc         40.0               44.0                40.0
         Bachelors         40.0               50.0                42.0
         Doctorate         50.0                NaN                45.0
         HS-grad           40.0               60.0                40.0
         Masters           45.0                NaN                44.0
         Preschool         72.0                NaN                40.0
         Prof-school       50.0                NaN                50.0
         Some-college      40.0               40.0                40.0

                                                                        \
marital-status         Married-spouse-absent  Never-married  Separated
sex     education
 Female  10th                           40.0           26.5       40.0
         11th                           40.0           22.0       40.0
         12th                           45.0           25.0       40.0
         1st-4th                        40.0           40.0       40.0
         5th-6th                        34.0           40.0       40.0
         7th-8th                        37.5           40.0       32.0
         9th                            30.0           38.0       40.0
         Assoc-acdm                     35.5           40.0       40.0
         Assoc-voc                      40.0           40.0       40.0
         Bachelors                      40.0           40.0       40.0
         Doctorate                      40.0           50.0       32.0
         HS-grad                        40.0           40.0       40.0
         Masters                        40.0           40.0       40.0
         Preschool                       NaN           30.0       40.0
         Prof-school                    40.0           50.0       40.0
         Some-college                   40.0           35.0       40.0
 Male    10th                           40.0           40.0       40.0
         11th                           40.0           30.0       40.0
         12th                           42.5           39.0       40.0
         1st-4th                        40.0           40.0       37.5
         5th-6th                        40.0           40.0       40.0
         7th-8th                        40.0           40.0       40.0
         9th                            40.0           40.0       40.0
         Assoc-acdm                     32.5           40.0       40.0
         Assoc-voc                      40.0           40.0       40.0
         Bachelors                      40.0           40.0       40.0
         Doctorate                      60.0           40.0       40.0
         HS-grad                        40.0           40.0       40.0
         Masters                        50.0           40.0       45.0
         Preschool                      40.0           36.0        NaN
         Prof-school                    45.0           50.0       48.0
         Some-college                   40.0           40.0       40.0


marital-status         Widowed  test_category_female  test_category_male
sex     education
 Female  10th             35.0                   NaN                 NaN
         11th             40.0                   NaN                 NaN
         12th             40.0                   NaN                 NaN
         1st-4th          30.0                   NaN                 NaN
         5th-6th          40.0                   NaN                 NaN
         7th-8th          35.0                   NaN                 NaN
         9th              25.0                   NaN                 NaN
         Assoc-acdm       40.0                   NaN                 NaN
         Assoc-voc        40.0                   NaN                 NaN
         Bachelors        40.0                   NaN                 NaN
         Doctorate        40.0                   NaN                 NaN
         HS-grad          37.0                  40.0                 NaN
         Masters          40.0                   NaN                 NaN
         Preschool        30.0                   NaN                 NaN
         Prof-school      20.0                   NaN                 NaN
         Some-college     40.0                   NaN                 NaN
 Male    10th             40.0                   NaN                 NaN
         11th             40.0                   NaN                 NaN
         12th             44.0                   NaN                 NaN
         1st-4th          42.5                   NaN                 NaN
         5th-6th          15.0                   NaN                 NaN
         7th-8th          30.0                   NaN                 NaN
         9th              40.0                   NaN                 NaN
         Assoc-acdm       40.0                   NaN                 NaN
         Assoc-voc        50.0                   NaN                 NaN
         Bachelors        40.0                   NaN                 NaN
         Doctorate        40.0                   NaN                 NaN
         HS-grad          40.0                   NaN                40.0
         Masters          40.0                   NaN                 NaN
         Preschool        10.0                   NaN                 NaN
         Prof-school      45.0                   NaN                 NaN
         Some-college     40.0                   NaN                 NaN